name: ci
on:
  push:
    branches: [ "main" ]
  pull_request:
  schedule:
  - cron: '0 6 * * 6'

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        crystal: [ "1.17", "1.18", latest, nightly ]
    runs-on: ubuntu-latest
    steps:
    - name: Download source
      uses: actions/checkout@v4
    - name: Install Crystal
      uses: crystal-lang/install-crystal@v1
      with:
        crystal: ${{ matrix.crystal }}
    - name: Check the code format
      uses: crystal-ameba/github-action@v0.12.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Run tests
      run: crystal spec --order=random